<h2>New Message</h2>

<div class="row">
  <div class="col-md-4 col-sm-12">
    <%= render '/shared/errors', obj: @message %>

    <%= form_for [@conversation, @message] do |f| %>

      <div class="form-group">
        <%= f.text_area :body, placeholder: "New Message", class: "form-control" %>
      </div>

      <%= f.submit "Send Message!", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>