<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h1>Favorites</h1>
      <% if @user.favs.size > 0 %>
        <% @user.favs.each do |f| %>

          <p><%= f.username %></p>

        <% end %>
      <% else %>

        <p>You don't have any favorites yet. Go <%= link_to "check some peeps out", users_path() %>!</p>

      <% end %>
    </div>
</div>