<div class="container-fluid">
  <div class="row text-center">
    <div class="container">
      <div class="col-12">
        <h1>Welcome <%= current_user.username %></h1>
        <h2>Admin Dashboard</h2>
      </div>
    </div>
  </div>
</div>