<div class="row">
	<div class="col-12">
		<div class="jumbotron">
			<div class="container">
				<h1>Landing!</h1>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="container">
		<div class="col-md-6">
			<div class="well well-lg">
				<p>Column one</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="well well-lg">
				<p>Column two</p>
			</div>
		</div>
	</div>
</div>
	