<h2>Conversations</h2>

<br/>
<% if conversations.blank? %>

  <p>You have no conversations yet...</p>
  
<% else %>
  
  <% conversations.each do |c| %>
    
    <p><%= link_to "#{sender_or_recipient(current_user, c)}", conversation_path(c.id), remote: true %></p>
    
  <% end %>

<% end %>