<div class="container-fluid">
  <div class="row text-center">
    <div class="container">
      <div class="col-12">
        <h1>Inbox</h1>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="container">
      <div class="col-md-4 col-xs-12">
        <%= render 'conversations', conversations: @conversations %> 
        </div>
  
      <div class="col-md-6 col-xs-12">

        <h2 class="msg-area-title">Messages</h2>
        <div class="msg-area">

          <!-- input w/ recipient -->
          <!-- render message partial -->
        </div>

      </div>
    </div>
  </div>
</div>