<div class="container-fluid">
  <div class="row text-center">
    <div class="container">
      <div class="col-12">
        <h1>Inbox</h1>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="container">
      <div class="col-md-6">
        <%= render 'conversations', conversations: @inbox.conversations %>
      </div>
  
      <div class="col-md-6">
        <%= render 'new_message' %>
      </div>
    </div>
  </div>
</div>