<div id="all-users">

  <h2>Users</h2>

  <% users.each do |u| %>
  
    <p><%= link_to u.username, user_path(u) %></p>

  <% end %>

  <h2>Users Near Me</h2>

  <% current_user.nearbys(30).each do |u| %>
    <p><%= link_to u.username, user_path(u) %></p>
  <% end %>
</div>