<h1>Community Page</h1>

<p>render partial 'search'</p>
<p>render partial 'find_fb_friends'</p>

<h2>All Users</h2>

<% @users.each do |u| %>
  
  <p><%= link_to u.email, user_path(u) %></p>

<% end %>