<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Community Page</h1>
    </div>
  </div>

  <div class="row">
    <%= render 'shared/search' %>
    <%= render 'shared/fb_friends_search' %>
  </div>

  <div class="row">
    <div class="col-xs-10 col-offset-xs-1">
      <h2>All Users</h2>

      <% @users.each do |u| %>
        
        <p><%= link_to u.email, user_path(u) %></p>

      <% end %>
    </div>
  </div>
</div>
