<% if @user == @current_user %>
 
 <h1>My Profile</h1>

<% else %>
  
  <h1><%= @user.email %></h1>

  <br />
  <%= link_to conversations_path(sender_id: @current_user.id, recipient_id: @user.id), type: "button", method: :post do %>
    <button class="btn btn-primary"><span class="glyphicon glyphicon-envelop"></span> Send a Message</button>
  <% end %>

<% end %>

<br/><br/>
<p>render @profile facade with each piece coming from app/facades/profile.rb</p>

<p>unless @user == current_user render 'interactions'</p>