<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <% if obj.errors.any? %>
      <% obj.errors.full_messages.each do |msg| %>

      <div class="alert alert-danger"><%= msg %></div>

      <% end %>
    <% end %>
  </div>
</div>