<div class="col-xs-12 col-md-4">
  
  <%= link_to users_nearby_path(distance: 30), type: "button", method: :post, remote: true do %>
    <button id="users-near-me" class="btn btn-primary">Find Users Near me</button>
  <% end %>

</div>