<div class="row">
	<div class="col-12">
		<div class="jumbotron text-center">
			<div class="container">
				<h1>Landing</h1>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="container text-center">
		<h2>Welcome to Starma!</h2>
	</div>
</div>
	